_build/*
gen_docs/*
gen_images/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE(s)
.vscode
*.code-workspace
*.workspace
.idea

# CMake
*.cmake
*build*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
DartConfiguration.tcl
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
