/* table.memberdecls .memItemLeft,
table.memberdecls .memItemRight,
table.memberdecls .memTemplItemLeft,
table.memberdecls .memTemplItemRight,
table.memberdecls .memTemplParams {
    transition: none;
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
    border-top: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
    background-color: var(--fragment-background);
} */

html {
    --spacing-small: 1px;
    --spacing-medium: 5px;
    --spacing-large: 10px;
    --content-maxwidth: auto;
    --side-nav-arrow-opacity: 0.3;
    --side-nav-arrow-hover-opacity: 0.99;
}
